<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="list"></ion-icon>
    </button>

    <ion-title>{{this.store.actualActivity().name}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addActivity()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngFor="let child of this.store.kids; let i = index">
    <ion-title text-center>{{child.name}}</ion-title>

    <!--<ion-card-header> {{this.store.getActivityOfChild(ic)}}</ion-card-header>-->
      <ion-item>
        <ion-label floating>Notiz</ion-label>
        <ion-input type="text" [(ngModel)]="actual_note[child.id.toString()]"> </ion-input>
      </ion-item>

        <ion-segment [(ngModel)]="actual_rating[child.id.toString()]" color="primary" >
          <ion-segment-button  *ngFor="let rating of this.store.ratings" [value]="rating.id"  (ionSelect)="changeRating(child.id,rating.id)" >
            <ion-icon name="{{rating.icon}}"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      <h3 text-center> Bewertung: {{this.store.actualRatingOfChildActivity(child.id)}} </h3>
  </ion-card>



</ion-content>
